@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --dark-blue: #002343;
  --orange: #e87817;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
  font-weight: 400;
  color: #20212d;
}

.header {
  display: flex;
  max-width: 1920px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 1.125rem;
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  background: rgb(255, 255, 255);
}

.header_placeholder {
  height: 100px;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__section-portable {
  display: none;
}

.header__logo {
  display: block;
  background-image: url(../images/header-logo.svg);
  background-repeat: no-repeat;
  width: 140px;
  aspect-ratio: 140/54;
  flex: 1;
  margin-right: 80px;
  margin-bottom: 7px;
  background-position: center;
  background-size: contain;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 3.125rem;
}

.header__nav-portable {
  display: none;
}

.header__item {
  white-space: nowrap;
}

.header__link {
  color: #20212d;
  text-decoration: none;
}

.header__link--active,
.header__link:hover {
  color: var(--orange);
}

.header__contacts {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 120px 6px 0;
}

.separator {
  width: 1px;
  height: 2.2rem;
  background: var(--dark-blue);
  opacity: 0.15;
  margin: 0 1.25rem 0 5px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.phone-number,
.email {
  margin: 0;
  display: block;
  color: var(--dark-blue);
}

.phone-number {
  font-weight: 600;
  margin: 6px 0;
}

.email {
  font-weight: 300;
  font-size: 0.875rem;
}

.phone-button {
  width: 1.7rem;
  height: 1.7rem;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  flex: 1;
}

.phone-button svg {
  width: 1.7rem;
  height: 1.7rem;
}

.btn {
  display: inline-block;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button__order-service {
  padding: 1rem 0;
  margin-bottom: 5px;
  width: 200px;
  line-height: 1.2;
  border-radius: 0.25rem;
  background: var(--orange);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.banner-slider {
  max-width: 1920px;
  width: 100%;
  margin-bottom: 4.375rem;
  position: relative;
}

.banner-slider__slide {
  width: 100%;
  aspect-ratio: 1920/740;
  background: url("../images/slide-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: var(--dark-blue);
  display: flex;
}

.slide__main {
  width: 73%;
  aspect-ratio: 1400/740;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.slide-info {
  margin: 0;
  width: 48%;
  align-self: center;
  position: relative;
  margin-bottom: 21px;
}

.slide-triangles {
  position: absolute;
  width: 8%;
}

.slide-triangles__top {
  top: -8.75rem;
}

.slide-triangles__bottom {
  bottom: -5.625rem;
  right: 2.2rem;
}

.slide-triangles__right {
  top: 6.7rem;
  width: 3.7%;
  right: 0;
}

.slide-info__title {
  margin: 0;
  font-size: 3.875rem;
  line-height: 0.97;
  margin-bottom: 1.875rem;
  width: 120%;
}

.slide-info__desc {
  font-size: 1.75rem;
  line-height: 1.3;
}

.slide__image {
  align-self: self-end;
  position: relative;
  width: 52%;
  aspect-ratio: 755/702;
}

.slide__img {
  width: 104%;
  position: absolute;
  bottom: 0px;
  left: 1%;
}

.swiper-navigation {
  width: 73%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  bottom: 10.5%;
  gap: 0.8em;
  height: 3.8em;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 7%;
  background: rgba(255, 255, 255, 0.5);
  color: var(--dark-blue);
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--orange);
}

.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
  fill: #fff;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  height: 1.1em;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination {
  pointer-events: none;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 14%;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0.63rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 2px;
  display: inline-block;
  border-radius: 1px;
  background: var(--dark-blue);
  opacity: 1;
  pointer-events: auto;
}

.swiper-pagination-bullet-active {
  background: var(--orange);
}

.main__services {
  max-width: 1400px;
  width: 73%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.main__services__title {
  color: var(--dark-blue);
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

.main__services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

.main__services__grid-card {
  aspect-ratio: 440/300;
  font-size: 1.625rem;
  font-weight: 600;
  padding: 1.9rem;
  box-sizing: border-box;
  line-height: 1.23;
  background-color: rgba(0, 35, 67, 0.4);
  color: #fff;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-link {
  position: absolute;
  bottom: 1.9rem;
  right: 1.9rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  width: 3.7rem;
  height: 3.7rem;
}

.card-link:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.card-link svg {
  fill: #fff;
  width: 100%;
  height: 1.1rem;
  object-fit: contain;
  transform-origin: center;
  display: block;
  margin-top: 50%;
  transform: translateY(-50%);
}

.card_01 {
  background-image: url(../images/card_01.png);
}

.card_02 {
  background-image: url(../images/card_02.png);
}
.card_03 {
  background-image: url(../images/card_03.png);
}
.card_04 {
  background-image: url(../images/card_04.png);
}
.card_05 {
  background-image: url(../images/card_05.png);
}
.card_06 {
  background-image: url(../images/card_06.png);
}
.card_07 {
  background-image: url(../images/card_07.png);
}
.card_08 {
  background-image: url(../images/card_08.png);
}
.card_09 {
  background-image: url(../images/card_09.png);
}
.card_10 {
  background-image: url(../images/card_10.png);
}
.card_11 {
  background-image: url(../images/card_11.png);
}
.card_12 {
  background-image: url(../images/card_12.png);
}

.footer {
  background: #f6f6f6;
  width: 100%;
  color: #20212d;
}
.footer__container {
  max-width: 1400px;
  width: 73%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3.25rem;
  grid-gap: 0.5rem;
}

.footer h1 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 1.9rem;
  margin-top: 0;
  color: var(--dark-blue);
}

.footer p {
  font-size: 0.75rem;
}

.footer__contacts {
  margin-right: 5px;
}

.contacts-info {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

p.contact-email {
  line-height: 3.25;
  margin-bottom: 0.75rem;
}

p.contact-numbers {
  line-height: 1.5;
  margin-bottom: 0.75rem;
}

.services-grid a,
.equipment-grid a {
  text-decoration: none;
  font-size: 0.75rem;
  opacity: 0.6;
  color: rgb(32, 33, 45);
  font-weight: 300;
  line-height: 1.4;
}

.services-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem 3.6rem;
  white-space: nowrap;
  grid-auto-flow: row dense;
}

.footer__equipment {
  margin-right: 2.2rem;
  line-height: 2;
}

.equipment-grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.5rem;
  white-space: nowrap;
}

.footer__button {
  margin-top: 1.7rem;
  margin-bottom: 2.5rem;
}

.footer__separator {
  color: var(--dark-blue);
  opacity: 0.05;
  height: 1px;
}

.footer__bottom {
  width: 73%;
  max-width: 1400px;
  margin: auto;
  aspect-ratio: 1920/73;
  min-height: 30px;
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  opacity: 0.4;
}

.footer__bottom a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
}

.footer__bottom > :nth-child(1) {
  flex-grow: 1;
}
.footer__bottom > :nth-child(3) {
  flex-grow: 2;
}
.footer__bottom > :nth-child(2) {
  flex-grow: 5;
}

@media (max-width: 1680px) {
  html {
    font-size: 14px;
  }

  .header,
  .header_placeholder {
    height: 80px;
  }

  .header__logo {
    margin-right: 40px;
  }

  .header__contacts {
    margin-right: 60px;
  }

  .services-grid {
    grid-column-gap: 0.7rem;
  }

  .footer__contacts {
    margin-right: 0;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }

  .header,
  .header_placeholder {
    height: 70px;
  }

  .header__logo {
    margin: 5px 20px 5px 0;
    width: 120px;
  }

  .header__list {
    gap: 20px;
  }

  .header__contacts {
    margin-right: 30px;
  }

  .footer__contacts {
    margin-right: 0;
  }

  p.contact-email {
    line-height: 1.2rem;
    margin-bottom: 2px;
  }

  .footer__equipment {
    margin-right: 0.7rem;
  }

  p.contact-numbers {
    margin-bottom: 0;
  }
}

@media (max-width: 1190px) {
  html {
    font-size: 10px;
  }

  .header,
  .header_placeholder {
    height: 60px;
  }

  .header__logo {
    margin-right: 10px;
    margin-bottom: 0;
    width: 100px;
  }

  .header__list {
    gap: 15px;
  }

  .header__contacts {
    margin-right: 15px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }

  .header {
    padding: 20px;
  }

  .header__button {
    width: 100px;
  }

  .footer__equipment {
    margin-right: 0.5rem;
  }
}

@media (max-width: 870px) {
  html {
    font-size: 10px;
  }

  .header__section-left,
  .header__nav {
    display: none;
  }

  .header__section-portable {
    display: flex;
    gap: 1rem;
  }

  .header__nav-portable {
    position: absolute;
    background: #fff;
    right: 0;
    top: 100%;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }

  #menu.open {
    display: block;
  }

  .header__list-portable {
    flex-direction: column;
    font-size: 2.5rem;
    gap: 0;
  }

  .header__item-portable {
    padding: 2rem 3rem;
    border: 1px solid rgba(0, 35, 67, 0.4);
  }

  .header__item-portable:first-child {
    border-top: none;
  }

  .header__phone,
  .header__menu {
    border: none;
    background: transparent;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__phone svg,
  .header__menu svg {
    height: 3rem;
    width: 3rem;
    color: var(--dark-blue);
  }

  .header__phone:active svg path,
  .header__menu:active path {
    fill: var(--orange);
    stroke: var(--orange);
  }

  .slide__main {
    width: 90%;
  }

  .slide__img {
    width: 85%;
  }

  .main__services {
    width: 90%;
  }

  .footer__container {
    width: 90%;
  }

  .footer__bottom {
    width: 90%;
  }

  .swiper-navigation {
    display: none;
  }

  .slide-triangles {
    display: none;
  }

  .footer__services {
    display: none;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 5%;
  }

  .main__services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }

  .footer__container {
    justify-content: space-around;
    font-size: 20px;
  }

  .footer__bottom {
    padding-bottom: 2rem;
  }

  .footer__bottom a,
  .footer__bottom p {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  html {
    font-size: 8px;
  }

  .header,
  .header_placeholder {
    height: 50px;
    padding: 0;
  }

  .header__logo {
    margin-left: 5px;
  }

  .footer__contacts h1,
  .footer__equipment h1 {
    font-size: 2rem;
  }

  .contacts-info p,
  .equipment-grid a,
  .equipment-grid button {
    font-size: 1.5rem;
  }
}

@media (max-width: 565px) {
  .slide-info {
    margin: 0;
  }

  .slide-info__title {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  .slide-info__desc {
    font-size: 1.2rem;
    line-height: 1.1;
  }

  .main__services {
    padding-bottom: 40px;
  }

  .main__services__grid {
    grid-template-columns: auto;
    grid-gap: 2.5rem;
  }

  .footer__contacts h1,
  .footer__equipment h1 {
    font-size: 2rem;
  }

  .contacts-info p,
  .equipment-grid a,
  .equipment-grid button {
    font-size: 1rem;
  }

  .footer__bottom a,
  .footer__bottom p {
    font-size: 0.8rem;
  }

  .footer__bottom {
    padding-bottom: 1rem;
  }
}
